@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {width: 14px;}
::-webkit-scrollbar-track {background-color: #F3D5B5;border-radius: 6px;}
::-webkit-scrollbar-thumb {background-color: #7A4D36;border-radius: 6px;border: 3px solid #F3D5B5;}
::-webkit-scrollbar-thumb:hover {background-color: #A05B45;}
::-webkit-scrollbar-thumb:active {background-color: #9C6649;}

.hamburger span {
    transition: all 0.3s ease-in-out;
}
.hamburger.open span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}
.hamburger.open span:nth-child(2) {
    opacity: 0;
}
.hamburger.open span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

/* Projects Scrollbar */
.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #FFD275 #7F5539;
}
.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
    background: #E6CCB2;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #7F5539;
    border-radius: 10px;
}

.text-gradient-PF {
    background: linear-gradient(to right, #FDB3DF, #ff8db1, #ff6999, #ff5fa2);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-gradient {
    background: linear-gradient(to right, #FF694E, #FFB524);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* Home-pills Hover */
.social-pills a:hover img {
    filter: brightness(0) saturate(100%) invert(38%) sepia(63%) saturate(680%) hue-rotate(340deg) brightness(96%) contrast(91%);
}
.social-pills .linkedin-icon:hover img {
    filter: brightness(0) saturate(100%) invert(21%) sepia(89%) saturate(1217%) hue-rotate(203deg) brightness(102%) contrast(97%);
}
.social-pills .github-icon:hover img {
    filter: brightness(0) saturate(100%) invert(12%) sepia(98%) saturate(2600%) hue-rotate(250deg) brightness(95%) contrast(90%);
}
.social-pills .twitter-icon:hover img {
    filter: brightness(0) saturate(100%) invert(30%) sepia(68%) saturate(1600%) hue-rotate(203deg) brightness(98%) contrast(101%);
}

#Tech-Stack {
    scroll-margin-top: 150px;
}

.animate-scroll {
    display: flex;
    /* Asegúrate de que la longitud de la animación sea suficiente */
    animation: scroll linear infinite;
    animation-duration: 30s; /* Ajusta la duración para controlar la velocidad */
}

.marquee {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%); /* Cambia esto a -50% para un ciclo más suave */
    }
}